{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'exchange/img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'exchange/css/style.css' %}">
    <title>Exchange Rate</title>
</head>

<body>
    <header>
        <a class="logo" href="/app/">
            <img src="{% static 'exchange/img/favicon.png' %}" width="40px" alt="logo of exchange.io project">
        </a>
        <a class="api" href="/api/">API</a>
    </header>
    <main>
        <section class="intro">
            <h1>Exchange.io</h1>
            <h3>Currency exchange rates
                <br> and conversion API</h3>
        </section>
        <section class="converter">
            <input type="text" class="input_base" placeholder="0">
            <select name="base" class="select_base">
                <option value="EUR" selected>EUR</option>
                <option value="USD">USD</option>
            </select>
            <input type="button" class="go" value="Go" onclick="process()">
            <input type="text" class="input_target" placeholder="0">
            <select name="target" id="mySelect" class="select_target" onchange="validate()">
                <option value="USD" selected>USD</option>
                <option value="EUR">EUR</option>
                <option value="JPY">JPY</option>
                <option value="BGN">BGN</option>
                <option value="CZK">CZK</option>
                <option value="DKK">DKK</option>
                <option value="GBP">GBP</option>
                <option value="HUF">HUF</option>
                <option value="PLN">PLN</option>
                <option value="RON">RON</option>
                <option value="SEK">SEK</option>
                <option value="CHF">CHF</option>
                <option value="ISK">ISK</option>
                <option value="NOK">NOK</option>
                <option value="HRK">HRK</option>
                <option value="RUB">RUB</option>
                <option value="TRY">TRY</option>
                <option value="AUD">AUD</option>
                <option value="BRL">BRL</option>
                <option value="CAD">CAD</option>
                <option value="CNY">CNY</option>
                <option value="HKD">HKD</option>
                <option value="IDR">IDR</option>
                <option value="ILS">ILS</option>
                <option value="INR">INR</option>
                <option value="KRW">KRW</option>
                <option value="MXN">MXN</option>
                <option value="MYR">MYR</option>
                <option value="NZD">NZD</option>
                <option value="PHP">PHP</option>
                <option value="SGD">SGD</option>
                <option value="THB">THB</option>
                <option value="ZAR">ZAR</option>
            </select>
        </section>
        <section class="usage">
            <h2 class="section_title">Usage:</h2>
            <section>
                <p>Get the latest currency exchange rates in JSON format.</p>
                <div class="buttons">
                        <button class="send tooltip" onclick="grab_latest('.tooltiptext_latest_send')" 
                        onmouseout="resetTextSend('.tooltiptext_latest_send')" role="send request">	
                            &#128640;
                            <span class="tooltiptext tooltiptext_latest_send">Send Request</span>
                        </button>
                        <button class="btn_copy tooltip" onclick="copy('.request_latest', '.tooltiptext_latest_copy')" 
                        onmouseout="resetTextCopy('.tooltiptext_latest_copy')" role="Copy to clipboard">
                            &#128203;
                            <span class="tooltiptext tooltiptext_latest_copy">Copy to clipboard</span>
                        </button>                     
                    </div>
                    <div class="api_request">
                            <!--input class="request_latest" value="https://exchange.io/api/latest/"-->
                        <p class="request_latest">
                            http://192.168.0.171:8000/api/latest/
                        </p>
                        <pre class="output"></pre>                        
                    </div>
            </section>
            <br>
            <section>
                <p>Get rates back to 90 days ago.</p>
                    <div class="buttons">
                        <button class="send tooltip" onclick="grab_hist('.tooltiptext_hist_send')" 
                        onmouseout="resetTextSend('.tooltiptext_hist_send')" role="send request">	
                            &#128640;
                            <span class="tooltiptext tooltiptext_hist_send">Send Request</span>
                        </button>
                        <button class="btn_copy tooltip" onclick="copy('.request_hist', '.tooltiptext_hist_copy')" 
                        onmouseout="resetTextCopy('.tooltiptext_hist_copy')" role="Copy to clopboard">
                            &#128203;
                            <span class="tooltiptext tooltiptext_hist_copy">Copy to clipboard</span>
                        </button>                     
                    </div>
                    <div class="api_request">
                        <p class="request_hist">
                            http://192.168.0.171:8000/api/2018-03-14
                        </p>
                        <pre class="output_hist"></pre>                        
                    </div>
            </section>
            <br>
            <section>
                <p>Rates are quoted against the EURO by default. To quote against a different currency use the
                    <strong>base</strong> uri parameter in your request.</p>
                    <div class="buttons">
                            <button class="send tooltip" onclick="grab_base('.tooltiptext_base_send')" 
                            onmouseout="resetTextSend('.tooltiptext_base_send')" role="send request">	
                                &#128640;
                                <span class="tooltiptext tooltiptext_base_send">Send Request</span>
                            </button>
                            <button class="btn_copy tooltip" onclick="copy('.request_base', '.tooltiptext_base_copy')" 
                            onmouseout="resetTextSend('.tooltiptext_base_copy')" role="Copy to clopboard">
                                &#128203;
                                <span class="tooltiptext tooltiptext_base_copy">Copy to clipboard</span>
                            </button>                     
                        </div>
                        <div class="api_request">
                            <p class="request_base">
                                http://192.168.0.171:8000/api/latest?base=USD&symbols=EUR,GBP,JPY
                            </p>
                            <pre class="output_base"></pre>                        
                        </div>
            </section>
            <br>
            <section>
                <p>Request specific exchange rates by setting the
                    <strong>symbols</strong> parameter.</p>
               
                    <div class="buttons">
                            <button class="send tooltip" onclick="grab_symbols('.tooltiptext_symbols_send')" 
                            onmouseout="resetTextSend('.tooltiptext_symbols_send')" role="send request">	
                                &#128640;
                                <span class="tooltiptext tooltiptext_symbols_send">Send Request</span>
                            </button>
                            <button class="btn_copy tooltip" onclick="copy('.request_symbols', '.tooltiptext_symbols_copy')" 
                            onmouseout="resetTextSend('.tooltiptext_symbols_copy')" role="Copy to clopboard">
                                &#128203;
                                <span class="tooltiptext tooltiptext_symbols_copy">Copy to clipboard</span>
                            </button>                     
                        </div>
                        <div class="api_request">
                            <p class="request_symbols">
                                http://192.168.0.171:8000/api/latest?symbols=USD,GBP
                            </p>
                            <pre class="output_symbols"></pre>                        
                        </div>
            </section>

        </section>

    </main>

    <footer>
        <span class="copyrights">&#169; 2018. All rights reserved.</span>
        <a target="_blank" href="https://twitter.com/usef_bh" class="fontawesome-twitter"></a>
        <a target="_blank" href="https://github.com/usef-bh" class="fontawesome-github"></a>
        <a target="_blank" href="mailto:youssefbouhouch2014@gmail.com" class="fontawesome-envelope-alt"></a>
    </footer>
    <script src="{% static 'exchange/js/bundle.js' %}"></script>
</body>

</html>