{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'exchange/img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'exchange/css/style.css' %}">
    <title>Currancies Exchange Rates</title>
</head>

<body>
    <header>
        <a class="logo" href="/">
            <img src="{% static 'exchange/img/favicon.png' %}" width="40px" alt="logo of exchange.io project">
        </a>
        <a href="https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html"
        class="data" target="_blank">
        Data source
        </a>
        <a href="/docs/" class="docs">Documentation</a>
    </header>
    <main>
        <section class="intro">
            <h1>Free Exchange Rates API</h1>
            <h3>Currency exchange rates
                <br> and conversion API</h3>
        </section>
        <div class="note">
               &#9888; This API uses 
               <a href="https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html"
               target="_blank">
               the EUROPEAN CENTRAL BANK
               </a>
                as data source.
        </div>
        <section class="converter">
            <h2 class="section_title">Converter:</h2>
            <div class="converter_form">
                <input type="text" class="input_base" placeholder="0">
                <select name="base" class="select_base">
                        <option value="EUR" selected>EUR</option>
                        <option value="USD">USD</option>
                        <option value="JPY">JPY</option>
                        <option value="BGN">BGN</option>
                        <option value="CZK">CZK</option>
                        <option value="DKK">DKK</option>
                        <option value="GBP">GBP</option>
                        <option value="HUF">HUF</option>
                        <option value="PLN">PLN</option>
                        <option value="RON">RON</option>
                        <option value="SEK">SEK</option>
                        <option value="CHF">CHF</option>
                        <option value="ISK">ISK</option>
                        <option value="NOK">NOK</option>
                        <option value="HRK">HRK</option>
                        <option value="RUB">RUB</option>
                        <option value="TRY">TRY</option>
                        <option value="AUD">AUD</option>
                        <option value="BRL">BRL</option>
                        <option value="CAD">CAD</option>
                        <option value="CNY">CNY</option>
                        <option value="HKD">HKD</option>
                        <option value="IDR">IDR</option>
                        <option value="ILS">ILS</option>
                        <option value="INR">INR</option>
                        <option value="KRW">KRW</option>
                        <option value="MXN">MXN</option>
                        <option value="MYR">MYR</option>
                        <option value="NZD">NZD</option>
                        <option value="PHP">PHP</option>
                        <option value="SGD">SGD</option>
                        <option value="THB">THB</option>
                        <option value="ZAR">ZAR</option>
                </select>
                <input type="button" class="go" value="Go" onclick="process()">
                <input type="text" class="input_target" placeholder="0">
                <select name="target" id="mySelect" class="select_target" onchange="validate()">
                    <option value="EUR">EUR</option>
                    <option value="USD" selected>USD</option>
                    <option value="JPY">JPY</option>
                    <option value="BGN">BGN</option>
                    <option value="CZK">CZK</option>
                    <option value="DKK">DKK</option>
                    <option value="GBP">GBP</option>
                    <option value="HUF">HUF</option>
                    <option value="PLN">PLN</option>
                    <option value="RON">RON</option>
                    <option value="SEK">SEK</option>
                    <option value="CHF">CHF</option>
                    <option value="ISK">ISK</option>
                    <option value="NOK">NOK</option>
                    <option value="HRK">HRK</option>
                    <option value="RUB">RUB</option>
                    <option value="TRY">TRY</option>
                    <option value="AUD">AUD</option>
                    <option value="BRL">BRL</option>
                    <option value="CAD">CAD</option>
                    <option value="CNY">CNY</option>
                    <option value="HKD">HKD</option>
                    <option value="IDR">IDR</option>
                    <option value="ILS">ILS</option>
                    <option value="INR">INR</option>
                    <option value="KRW">KRW</option>
                    <option value="MXN">MXN</option>
                    <option value="MYR">MYR</option>
                    <option value="NZD">NZD</option>
                    <option value="PHP">PHP</option>
                    <option value="SGD">SGD</option>
                    <option value="THB">THB</option>
                    <option value="ZAR">ZAR</option>
                </select>                
            </div>
        </section>
        <section class="usage">
            <h2 class="section_title">How to use this API?</h2>
            <p>Head to the Documentation page to see how to use the API, and some code samples.</p>
            <br>
            <a href="/docs/" class="docs_button">Documentation</a>
        </section>
        <section class="usage">
            <h2 class="section_title">Related information:</h2>
            <p>
                The reference rates are usually updated around 16:00 CET on every working day, 
                except on TARGET closing days. 
                They are based on a regular daily concertation procedure between central banks 
                across Europe, which normally takes place at 14:15 CET.
            </p>
        </section>

    </main>

    <footer>
        <span class="copyrights">&#169; 2018. All rights reserved.</span>
        <a target="_blank" href="https://twitter.com/usef_bh" class="fontawesome-twitter"></a>
        <a target="_blank" href="https://github.com/usef-bh" class="fontawesome-github"></a>
        <a target="_blank" href="mailto:youssefbouhouch2014@gmail.com" class="fontawesome-envelope-alt"></a>
    </footer>
    <script src="{% static 'exchange/js/bundle.js' %}"></script>
</body>

</html>