db.sqlite3

*.pyc
*.pyo
__pycache__
**/migrations/**
.vscode
**/migrations/**
**/__pycache__/**
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml