@font-face {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    src: url(/static/exchange/third_party/fonts/fontawesome-webfont.woff) format('woff');
  }
  
  .fontawesome-twitter:before{content:"\f099"}.fontawesome-github:before{content:"\f09b"}.fontawesome-envelope-alt:before{content:"\f0e0"}
  

/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
  }

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: hallosans;
    src: url(/static/exchange/third_party/fonts/hallo_sans.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: fallback
}

body {
    background-color: white;/*rgb(213, 213, 213);*/
    display: grid;
    grid-template-rows: 50px minmax(calc(100vh - 140px), auto) 50px;
    grid-row-gap: 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #323232;
    word-wrap: break-word;
    font-family: hallosans,Futura,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Open Sans,sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
}

header {
    grid-row: 1;
    grid-gap: 5px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12, auto);
    align-items: center;
    padding: 10px;
}

header .logo {
    grid-column: 1;
}


header .data {
    grid-column: 8/span 2;
    border: 1px solid rgb(67, 129, 243);
    border-radius: 5px;
    padding: 0px 2px;
}

header .data:hover, .data:active {
    background-color: rgb(67, 129, 243);
}

header .home {
    grid-column: 10/span 2;
    border: 1px solid rgb(104, 108, 235);
    border-radius: 5px;
    padding: 0px 2px;
}

header .home:hover, .home:active {
    background-color: rgb(104, 108, 235);
}

header .register, .docs {
    grid-column: 12/span 2;
    border: 1px solid rgb(104, 108, 235);
    border-radius: 5px;
    padding: 0px 2px;
}

header .register:hover, .docs:hover {
    background-color: rgb(104, 108, 235);
}

main {
    grid-row: 2;
    grid-gap: 20px;
    display: grid;
    grid-template-rows: 150px minmax(60px, auto) auto;
}

main .note {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    border: 1px solid darkorange;
    padding: 16px;
    color: darkorange;
}

section {
    margin-top: 20px;
}

.section_title {
    font-size: 30px;
}

main .intro {
    text-align: center;
    grid-row: 1;
    grid-column: 1/-1;
}

.usage, .registration_form {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.form {
    display: grid;
    grid-gap: 10px;
}

.input {
    width: 80%;
    margin: auto;
    padding: 5px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
}

.submit {
    width: 40%;
    margin: auto;
    height: 30px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
}

.api_request {
    display: block;
    overflow: auto;
    width: 100%;
    background-color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.buttons {
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: inline-block;
    float: right;
}

.btn_copy {
    padding: 7px;
    font-size: 20px;
    background: none;
    border: none;
    position: relative;
}

.copy_code {
    border: 1px solid #bbbbbb;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    float: right;
}

button {
    cursor: pointer;
}

.send {
    padding: 7px;
    border: none;
    font-size: 20px;
    background: none;
    position: relative;
    border-right: 1px solid;
}

.but {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 7px;
}

.request_latest, .request_hist, .request_base, .request_symbols {
    white-space: nowrap;
    display: inline;
    font-size: calc(13px + (18 - 13)*(100vw - 300px)/(800 - 300));
    color: #2196f3;
    padding: 0px 10px;
}

.request_but {
    background: none;
    color: #2196f3;
}

.req {
    display: inline;
    color: #2196f3;
}

.code_samples {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.gist {
    clear: right;
}

*:focus {
    outline: none;
}

.output_data {
    overflow: auto;
    padding: 10px;
    color: aliceblue;
    font-size: calc(13px + 3 * (100vw - 300px)/500);
}

/* width */
*::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}

/* Track */
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 6px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #2196F3; 
    border-radius: 6px;
}

/* Handle */
*::-webkit-scrollbar-thumb:hover {
    background: blue; 
    border-radius: 6px;
}

/* width */
[class^='output']::-webkit-scrollbar {
    width: 8px;
}

.tooltiptext {
    width: 100px;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -100%;
    font-family: hallosans,Futura,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Open Sans,sans-serif;
    font-size: 16px;
    padding: 4px;
    white-space: nowrap;
}

.send .tooltiptext {
    left: -100%;
}

.btn_copy .tooltiptext {
    left: -130%;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:active .tooltiptext {
    visibility: visible;
}

.show {
    display: block;
    text-align: left;
    color: white;
    height: 200px;
    font-family: hallosans,Futura,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Open Sans,sans-serif;
    font-size: 16px;
    padding-left: 15px;
}

footer {
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(12, auto);
    font-size: 20px;
    padding: 10px;
    align-items: center;
}

@media Screen and (min-width: 500px) and (max-width: 800px) {
    body {
        width: 100%;
        min-width: 300px;
    }

    .intro {
        font-size: 13px;
        line-height: 1rem;
    }

    .code_samples {
        width: 80vw;
    }
}

@media Screen and (max-width: 499px) {
    body {
        width: 100%;
        min-width: 320px;
    }

    .intro {
        font-size: 13px;
        line-height: 1rem;
    }

    .usage, .registration_form {
        width: 80vw;
    }
    .code_samples {
        width: 80vw;
    }
}

@media Screen and (max-width: 300px) {
    .request_latest, .request_hist, .request_base, .request_symbols {
        font-size: 13px;
    }
}

@media Screen and (min-width: 800px) {
    .request_latest, .request_hist, .request_base, .request_symbols {
        font-size: 18px;
    }
}


[class^="fontawesome-"] {
    position: relative;
    color: black; 
}

[class^="fontawesome-twitter"] {
    grid-column: 8;
}

[class^="fontawesome-github"] {
    grid-column: 10;
}

[class^="fontawesome-envelope-alt"] {
    grid-column: 12;
}

.copyrights {
    grid-column: 1/4;
    font-size: 14px;
}

[class^="fontawesome-"]:hover {
    color: rgb(82, 149, 237);
    animation: bounce 1s ease-in-out 0s infinite alternate;
}

[class^="fontawesome-"]:active {
    color: rgb(82, 149, 237);
    animation: bounce 1s ease-in-out 0s infinite alternate;
}

a {
    cursor: pointer;
    color: #303030;
    text-decoration: none;
    font-family: hallosans,Futura,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Open Sans,sans-serif;
    font-weight: 400;
}

a:active {
    color: rgb(0, 110, 255);
}


@keyframes bounce {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 5px;
        top: 2px;
    }
    50% {
        left: 10px;
        top: 0px;
    }
    75% {
        left: 5px;
        top: 2px
    }
    100% {
        left: 0px;
        top: 0px;
    }

}

h1, h2, h3, h4, h5, h6 {
    color: #303030;
    font-family: hallosans,Futura,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Open Sans,sans-serif;
    font-weight: 400;
    word-wrap: normal;
}

h1, h2 {
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h4 {
    padding: 15px;
}

h1 {
    font-size: 2rem;
}

h5, h6 {
    line-height: 1rem;
}

h5 {
    font-size: 1rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0;
    overflow-y: auto;
    background-color: rgba(0,0,0,.4);
    z-index: 10000;
    /*pointer-events: none;*/
    opacity: 1;
    transition: opacity .3s;
}

.overlay::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.modal {
    font-size: 20px;
    width: 80%;
    position: absolute;
    background-color: #323232;
    bottom: 30%;
    left: calc(calc(100vw - 80% - 20px)/2);
    padding: 10px;
    opacity: 1;
    animation: showSweetAlert .3s;
    text-align: center;
    border-radius: 5px;
    vertical-align: middle;
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 10001;
    transition: transform .3s,opacity .2s,-webkit-transform .3s;
}

.modal-success {
    grid-template-rows: auto auto auto 40px;
}

.modal-error {
    grid-template-rows: auto auto 40px;
}

@keyframes showSweetAlert {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    1% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }
    45% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(.95);
        transform: scale(.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.koko {
    float: right;
    width: 40px;
    border: 1px solid #c3c3c3;
    border-radius: 5px 5px 0px 0px;
}

/* .hey {
    grid-row: 2;
    grid-column: 1/-1;
} */

.greetings {
/*     grid-row: 3;
    grid-column: 1/-1; */

    display: block;
    padding: 20px 0px;
    color: white;
}

.ok {
    width: 60px;
    padding: 10px;
    grid-row: 4;
    margin: 10px;
    /*grid-column: 10/span 2;*/
    border: none;
    border-radius: 5px;
}

.success {
    background-color: #4CAF50;
}

.error {
    background-color: red;
}

.noscroll {
    overflow: hidden;
}

.popo {
    font-size: 20px;
    width: 478px;
    opacity: 1;
    /*pointer-events: none;*/
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    position: static;
    margin: 20px auto;
    display: inline-block;
    vertical-align: middle;
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 10001;
    transition: transform .3s,opacity .2s,-webkit-transform .3s;
}

@keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

.swal-icon--success__line--long {
    width: 47px;
    right: 8px;
    top: 38px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: animateSuccessLong .75s;
    animation: animateSuccessLong .75s;
}

.swal-icon--success__line {
    height: 5px;
    background-color: #a5dc86;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

.swal-icon--success__line--tip {
    width: 25px;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: animateSuccessTip .75s;
    animation: animateSuccessTip .75s;
}

.swal-icon--success__line {
    height: 5px;
    background-color: #a5dc86;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

@keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

.swal-icon--success__ring {
    width: 80px;
    height: 80px;
    border: 4px solid hsla(98,55%,69%,.2);
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}

.swal-icon--success__hide-corners {
    width: 5px;
    height: 90px;
    padding: 1px;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.swal-icon {
    width: 80px;
    height: 80px;
    /*grid-column: 6/span 2;*/
    margin: 10px auto;
    border: none;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}

.swal-icon--error {
    border: 4px solid;
    border-radius: 50%;
    border-color: red;
    -webkit-animation: animateErrorIcon .5s;
    animation: animateErrorIcon .5s;
}

@keyframes animateErrorIcon {
    0% {
        -webkit-transform: rotateX(100deg);
        transform: rotateX(100deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }
}

.swal-icon--error__x-mark {
    position: relative;
    display: block;
    -webkit-animation: animateXMark .5s;
    animation: animateXMark .5s;
}

@keyframes animateXMark {
    0% {
        -webkit-transform: scale(.4);
        transform: scale(.4);
        margin-top: 26px;
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(.4);
        transform: scale(.4);
        margin-top: 26px;
        opacity: 0;
    }
    80% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
        margin-top: -6px;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        margin-top: 0;
        opacity: 1;
    }
}

.swal-icon--error__line--left {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 17px;
}

.swal-icon--error__line--right {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 16px;
}

.swal-icon--error__line {
    position: absolute;
    height: 5px;
    width: 47px;
    background-color: red;
    display: block;
    top: 37px;
    border-radius: 2px;
}

.swal-icon--success {
    border-color: #a5dc86;
}

.swal-icon--info {
    border: 4px solid;
    border-radius: 50%;
    border-color: #c9dae1;
}

.swal-icon--info:after, .swal-icon--info:before {
    content: "";
    position: absolute;
    left: 50%;
    background-color: #c9dae1;
}

.swal-icon--info:before {
    width: 5px;
    height: 29px;
    bottom: 17px;
    border-radius: 2px;
    margin-left: -2px;
}

.swal-icon--info:after {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -3px;
    top: 19px;
}

code {
    display: block;
    font-size: 13px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 5px;
}

@media screen and (min-width: 500px) {
    .modal {
        width: 500px;
        left: calc(calc(100vw - 500px - 20px)/2);
    }
}

pre.prettyprint {
    font-size: 12px;
    padding: 5px 10px;
    clear: right;
    overflow: auto;
    border-radius: 4px;
}

.highlight {
    color: teal;
    padding: 5px;
    background-color: aliceblue;
}